* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
}

*:focus {
    outline: none;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}


html {
    font-size: 62.5%;
    font-family: $font-main;
}

body {
    font-size: 1.6rem;
    background-color: $background;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}