.footer {
    &-near {
        overflow: hidden;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        @include max-sm {
            padding: 1.6rem 0rem;
        }
        @include min-sm {
            grid-template-columns: auto auto;
        }
        @include min-ss(868px) {
            grid-template-columns: auto auto auto auto;
        }
        @include min-md {
            padding: 1.5rem 0rem;
        }
        &__main {
            background-color: $white;
        }
        &__item {
            @include max-ss(868px) {
                @include flexJustifyAlign(flex-start,center);
                padding-left: 1.6rem;
            }
            @include min-ss(868px) {
                @include flexJustifyAlign(center,center);
            }
            div {
                padding-left: 1.133rem;
                p {
                    font-family: $font-second;
                    &:nth-child(1) {
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                        color: $color-red;
                    }
                    &:nth-child(2) {
                        padding-top: 0.4rem;
                        font-weight: 700;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        color: $black;
                    }
                }
            }
        }
    }
    
    &-main {
        @include min-sm {
            @include flexJustifyAlign(space-between,center);
            flex-wrap: wrap;
            gap: 2rem 0rem;
        }
        @include min-lg {
            gap: 2rem;
        }
        &__item {
            width: 100%;
            margin-bottom: 2rem;
            @include min-sm {
                width: 50%;
                margin-bottom: 0rem;
            }
            @include min-lg {
                width: 25%;
            }
            &--title {
                font-family: $font-second;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.3rem;
                color: $black;
            }
            &--line {
                @include flexJustifyAlign(flex-start,center);
                margin-top: 0.6rem;
                margin-bottom: 3.4rem;
                span {
                    display: block;
                    height: 0.4rem;
                    &:nth-child(1) {
                        width: 11.9rem;
                        background-color: $color-red;
                    }
                    &:nth-child(2) {
                        width: 25.5rem;
                        background-color: $white;
                    }
                }
            }
            &--list {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                li {
                    height: 3rem;
                    div {
                        width: 3rem;
                        height: 3rem;
                        border: 0.1rem solid $color-red;
                        border-radius: 100rem;
                        @include flexJustifyAlign(center,center);
                    }
                    @include flexJustifyAlign(flex-start,center);
                    gap: 1.2rem;
                    a {
                        font-weight: 400;
                        font-size: 1.3rem;
                        line-height: 1.4rem;
                        color: $black;
                    }
                }
            }
        }
        margin: 3rem auto;
    }
    
    &-end {
        background-color: $color-red;
        &:hover {
            background-color: $color-red-hover;
        }
        cursor: pointer;
        transition: all 0.5s;
        padding: 1.1rem 0rem 1rem 0rem;
        p {
            color: $white;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.4rem;
        }
    }
}